* {
    font-family: Verdana, '微軟正黑體', 'Microsoft JhengHei', 'PingFang', sans-serif;
    letter-spacing: 0.6px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page {
  margin-top: 16px;
  width: 90%;
  max-width: 800px;
  display: none;
}
a, a:link, a:visited {
  color: #1a73e8;
}
td, td > img {
  border: 0.5px solid gray;
}
tr, td {
  margin: 0;
  padding: 0;
}
.spinner-border {
  -webkit-animation: spinner-border .5s linear infinite;
  animation: spinner-border .5s linear infinite;
}
.ldd-h {
  display: none !important;
}
.list-group-item {
  padding: initial;
}
.share-box {
  max-width: 45vw;
}
.credit-img {
  max-width: 100px;
  max-height: 100px;
}
.credit-des, .credit-des > a {
  color: rgba(0,0,0,.6) !important;
}
